node_modules/
dist/
.vite/
.DS_Store
.vscode/

# Vite env (mantén un .env.example con llaves “falsas”)
.env.local
.env.*.local
.env.production
.env.development
!.env.example

# iOS / Xcode / CocoaPods
ios/Pods/
ios/DerivedData/
ios/build/
ios/App/build/
**/*.xcuserstate

# Android
android/.gradle/
android/.idea/
android/build/
android/app/build/

# Capacitor
capacitor-assets.json

# Logs
npm-debug.log*
yarn-*.log
pnpm-debug.log*
